<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Orchidentify</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/orchid.png" rel="icon">
  <link href="../static/img/orchid.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree - v4.7.0
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Orchidentify</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#about">簡介</a></li>
          <li><a class="nav-link scrollto" href="#services">服務項目</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">蘭花介紹</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">團隊成員</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to Orchidentify</h1>
      <h2>和我一起成為蘭花達人!</h2>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>— 簡介 —</h2>
        </div>

        

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <a href="../static/img/LINEBOT QRcode.jpg" class="about-btn"> LineBot QRcode <i class="bx bx-chevron-down"></i></a>


              <div class="col-lg-50 col-md-20">
                <img src="../static/img/LINEBOT QRcode.jpg" class="img-fluid" alt="">
              </div>
              
              
            </div>
          </div>
          
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-people-fill"></i>
                  <h4>課程＆組別＆組員</h4>
                  <p>AI人工智慧導論｜第一組</p>
                  <p>張芮瑄  陳宏釜	 林家慶	 梁致銓  鄭惠菁</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-question-diamond"></i>
                  <h4>專題背景、痛點</h4>
                  <p>臺灣蘭花栽培歷史悠久、品種繁多，產量及品質在國際上受到肯定，臺灣有著領先全球的蘭花育種研發，擁有世界上最多的蝴蝶蘭品種。由於各蘭花品種的型態較為類似，往往需要專業人士才能進行區別，目前全球均未有蝴蝶蘭品種的辨識軟體與技術。</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-flag"></i>
                  <h4>目標設想</h4>
                  <p>本組欲解決上述的痛點，因此建構聊天機器人—Orchidentify。
                  <p>使蘭花可以更快速且方便地被分類，不再只需專業人士去辨別，也讓社會大眾對於蘭花這類高經濟作物有更多的認識，進一步提升蝴蝶蘭的銷售與產值。</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-boxes"></i>
                  <h4>專題內容</h4>
                  <p>Orchidentify使用CNN模型進行蘭花的影像辨識，並整合網頁和line聊天機器人。</p>
                  <p>聊天機器人能夠辨識使用者上傳的圖片，並且回傳蘭花相關介紹以及提供相關網站給使用者。</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>— 服務項目 —</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi-zoom-in"></i></div>
              <h4 class="title"><a href="">蘭花辨識</a></h4>
              <p class="description">路過一株美麗的蘭花，只要拍攝照片上傳Orchidentify，就可以立即得知蘭花品種!</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi-book"></i></div>
              <h4 class="title"><a href="">蘭花圖鑑</a></h4>
              <p class="description">得知品種之後，若有興趣深入了解，Orchidentify也有蘭花的詳細介紹!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi-cart4"></i></div>
              <h4 class="title"><a href="">連結網站</a></h4>
              <p class="description">很喜歡嗎?        </p>
              <p class="description">趕快使用Orchidentify連結google網站，手刀下單!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bi-line"></i></div>
              <h4 class="title"><a href="">Line Bot</a></h4>
              <p class="description">Orchidentify使用Line Bot服務，動動手指即可快速加入，讓他成為你的好助手!</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts  section-bg">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-check-all"></i>
              <span data-purecounter-start="0" data-purecounter-end="87" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>準確度(%)</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-book"></i>
              <span data-purecounter-start="0" data-purecounter-end="2180" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>圖鑑數量</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-stopwatch"></i>
              <span data-purecounter-start="0" data-purecounter-end="95" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>討論＆製作(天)</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>成員</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>— 蘭花介紹 —</h2>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">蝴蝶蘭屬</li>
              <li data-filter=".filter-card">其他類屬</li>
              
            </ul>
          </div>
        </div>

        <!-- 蝴蝶蘭 -->
        <div class="row portfolio-container" data-aos="fade-up">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/南洋白花24.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/南洋白花24.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="南洋白花蝴蝶蘭(蝴蝶蘭屬)---------
                南洋白花蝴蝶蘭，蝴蝶蘭屬，此種植物俗稱「台灣阿嬤」，因其種小名前面兩個音節為阿嬤的諧音，也有一說是因為台灣阿嬤和南洋白花蝴蝶蘭同樣堅毅純潔。日本人在升官和婚禮時都喜歡贈送南洋白花蝴蝶蘭，有著高風亮節和高貴的涵義。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/南洋白花25.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/南洋白花25.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="南洋白花蝴蝶蘭(蝴蝶蘭屬)---------
                南洋白花蝴蝶蘭，蝴蝶蘭屬，此種植物俗稱「台灣阿嬤」，因其種小名前面兩個音節為阿嬤的諧音，也有一說是因為台灣阿嬤和南洋白花蝴蝶蘭同樣堅毅純潔。日本人在升官和婚禮時都喜歡贈送南洋白花蝴蝶蘭，有著高風亮節和高貴的涵義。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭0.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭0.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭11.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭11.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭13.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭13.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭14.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭14.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭16.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭16.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭17.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭17.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭18.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭18.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭20.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭20.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭22.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭22.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭32.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭32.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭34.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭34.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭36.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭36.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭37.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭37.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭38.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭38.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭40.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭40.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭41.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭41.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭45.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭45.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭46.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭46.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭50.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭50.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭55.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭55.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭59.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭59.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭68.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭68.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭73.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭73.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭76.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭76.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭83.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭83.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭86.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭86.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭87.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭87.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭94.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭94.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭96.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭96.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭99.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭99.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蝴蝶蘭102.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蝴蝶蘭102.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蝴蝶蘭(蝴蝶蘭屬)---------
                蝴蝶蘭是台灣的原生蘭花，其美麗的外表也帶來嚴重的人為採集，在台灣紅皮書內被列為極危等級。過去，蝴蝶蘭被歸類為Phalaenopsis amabilis，由於種名amabilis的前兩音節唸起來像「阿嬤」，故有「台灣阿嬤」之別稱。" >
                  <i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          
         



          <!-- 其他類屬蘭 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/火燒蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/火燒蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="台灣鈴蘭(火燒蘭屬)---------
                臺灣鈴蘭是最有可能在城市中發現的歐洲蘭花之一。在威斯康星州列為具有入侵性的雜草。此植物是中國最古老的花卉之一，寓意和象徵著生活中的美好事物。
                臺灣鈴蘭是一種比較常見的野生蘭花，有著豐富的花色，比如黃色、綠色，也有花瓣帶有紅色或紫色條紋的種。種植它，需要提供充足的散射光與較高的空氣濕度。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/竹葉蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/竹葉蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="竹葉蘭(竹葉蘭屬)---------
                通常我們可以在陽光充足的草原或田野上發現竹葉蘭的蹤影。它們常常會跟禾草長在一起，容易被誤認為是禾本科草類（Poaceae）。也因為其葉子像是竹葉，才得到了「竹葉蘭」一名。
                竹葉蘭有著美麗的花朵和如同竹葉般的葉片，不管是栽植在花園中還是作為盆栽放在室內，都是十分美麗的點綴。和其他蘭花一樣， 竹葉蘭需要悉心養護才能開出美麗的花朵。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/白拉索蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/白拉索蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="白拉索蘭(白拉索蘭屬)---------
                白拉索蘭生命力強，以濃郁的香氣而聞名，這種特別的香氣類似柑橘和梔子花般，主要是在夜晚散發出來，用來吸引夜間授粉的飛蛾。
                白拉索蘭可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/穗花蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/穗花蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="黃穗蘭(穗花蘭屬)---------
                黃穗蘭是蘭花科（蘭科）中的一種附生，石生和一些陸地開花植物。它們從東南亞到新幾內亞。但是大多數物種都在婆羅洲或菲律賓發現。該屬產生微型的，芬芳的，星形的花，通常在直立或拱形的吊墜上開兩花，開許多花的總狀花序。莖卵球形到圓柱形，條紋，銳減的假鱗莖，基部具綠色到棕色片。每片帶有一或兩片堅硬，直立和披針形的葉子，葉柄狹窄。
                黃穗蘭可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/布袋蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/布袋蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="布袋蘭(布袋蘭屬)---------
                布袋蘭通常在接近夏季時開花，憑藉鮮豔的顏色和甜美的香味來吸引傳粉者為它們授粉，但其實並不產蜜。該植物的壽命較短，很容易受到干擾，並對特定土壤真菌具有依賴性而難以移植，因此被某些地區列為受威脅物種。
                布袋蘭可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/珊瑚蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/珊瑚蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="Corallorhiza maculata(珊瑚蘭屬)---------
                Corallorhiza maculata的根莖和下部莖通常打結成分支的珊瑚形狀。莖通常為紅色或棕色，但偶爾為淺黃色或乳白色。莖具深紅色鱗片和復雜的蘭花花。萼片為深紅色或棕色，帶有紫色，長而尖的。側花瓣帶紅色，唇瓣明亮，潔白，有深紅色斑點。
                Corallorhiza maculata可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/章魚蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/章魚蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="章魚蘭(章魚蘭屬)---------
                章魚蘭是中美洲國家貝里斯的國花。因花朵盛開時很像章魚，被稱為「章魚蘭」。花朵能抵抗大部分害蟲。假鱗莖是蘭科植物用來貯藏水和養分的器官，可用於製作黏著劑。
                章魚蘭芳香的花朵有著色彩鮮豔、帶有花紋的貝殼狀花瓣，可以作為美麗的裝飾點綴在你的花園或房間裡。為它提供充足的水分並適當遮蔭，養護得當的情況下它可以持續開花好幾個月。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/羊耳蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/羊耳蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="大花羊耳蒜(羊耳蘭屬)---------
                不同於多數的蘭花需要悉心照顧，大花羊耳蒜在野外適應力很好，周遭環境惡劣時，會等待適合生長的時機再趁機大放異彩，整株深紫色的花散發一種低調優雅的感覺。
                "><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/金蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/金蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="長葉頭蕊蘭(金蘭屬)---------
                可伸展多個直立的無毛莖。深綠色的長葉片向尖端逐漸變細。花以對角線的形式向上懸掛，並有5至20個螺旋形，形成柔和的穗狀花序。你呢果實是果實（前景：內部為多個房間的膠囊狀乾果），細小種子如粉末被風吹散。
                長葉頭蕊蘭可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/天麻.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/天麻.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="天麻(天麻屬)---------
                台灣人很常用天麻當作食補食材，和雞肉一起熬煮成雞湯是最常見的料理方式。天麻沒有根、也沒綠葉，本身不含葉綠素，所以無法進行光合作用，它一生都必須依靠其他真菌獲得養分。
                天麻可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/軟葉蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/軟葉蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="單葉軟葉蘭(軟葉蘭屬)---------
                小花的單葉是一種不起眼的，持久的草本植物，株高達到10到35厘米。根鱗莖（假鱗莖）扁平且呈綠色。它的特徵是圍繞莖桿的單個，有時兩個基本葉片。
                單葉軟葉蘭可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/美鬚蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/美鬚蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="Calopogon tuberosus(美鬚蘭屬)---------
                刺桐屬植物的特徵是沒有復生的花，在花唇上有鮮豔的頭髮狀凸起。該屬僅發生在美國和加勒比海地區。
                alopogon tuberosus可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/石斛蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/石斛蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="大明石斛(石斛蘭屬)---------
                大明石斛的種小名Speciosum在拉丁文的意思為「美麗的、豔麗的」，用來形容其開花特性，它是很受歡迎的栽培用蘭花。大明石斛通常生長在岩石或懸崖上，它的根會緊密地聚在一起，緊緊抓住岩石，它的特性為根系總是覆蓋著潮濕的蕨類或苔蘚。 
                大明石斛可以開出多彩優美的花朵，非常適合作為盆栽擺放在你的房子裡。只要你提供充足的光照和水分，它就可以在你的屋子裡綻放。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/苞舌蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/苞舌蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="紫苞舌蘭(苞舌蘭屬)---------
                紫苞舌蘭是台灣唯一原生的苞舌蘭屬植物，具有緊湊的假鱗莖，會開出多達四十朵粉紅色至紫紅色的花朵，花期非常長，觀賞性極高。主要的威脅來自愛蘭人士的採集和野豬的破壞。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蘇伯蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蘇伯蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="Sobralia macrantha(蘇伯蘭屬)---------
                Sobralia macrantha是蘭花的一種，原產於墨西哥，中美洲和南美洲。它們的蘆葦狀莖高約1至44英尺 。它們通常在整個莖上有重脈，雙瓣，有褶的頂端葉。莖頂上的花序帶有一或兩個連續的短暫的花，具有大的萼片和花瓣。這些花的顏色範圍從純白色到黃色，綠色，粉紅色，紫色，紅色，棕色，甚至是藍紫色。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/蕾麗亞.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/蕾麗亞.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="Laelia anceps(蕾麗亞屬)---------
                Laelia anceps是附生植物藥草（有少量石生植物），具側向壓縮假鱗莖。每個假鱗莖的頂部附近生有1-4片革質或肉質葉，可以寬卵形至長圓形。花序是頂生總狀花序（很少圓錐花序）。該屬包括約25種。在中美洲和南美洲的亞熱帶或溫帶氣候地區發現了laelia anceps物種，但大多數位於墨西哥。
                "><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/虎舌蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/虎舌蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="裂唇虎舌蘭(虎舌蘭屬)---------
                無葉上須蘭是多年生草本植物，身高達5厘米至30厘米 。它是一種無葉，無葉綠素的植物，具有肉質的根莖，高度分支，類似於珊瑚。這種具有異養營養飲食的植物終生依靠真菌共生。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/杜鵑蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/杜鵑蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="杜鵑蘭/馬鞭蘭(杜鵑蘭屬)---------
                馬鞭蘭身為台灣原生蘭花之一，散發怡人青草芬芳的桃紫色花絮垂懸，外形猶如馬鞭，日本稱它為采配蘭，而采配就是日本戰國時期將帥手中的指揮棒。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/肖頭蕊蘭屬.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/肖頭蕊蘭屬.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="綠花肖頭蕊蘭(肖頭蕊蘭屬)---------
                綠花肖頭蕊蘭是種常見的野生蘭花，綠色的長型葉片抽出長長的花莖。綠花肖頭蕊蘭常於冬季開花，在其附近即可聞到濃郁的陣陣芳香，花朵中也含有花蜜，黃綠色的小花盛開的模樣十分動人。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/布萊特蘭屬.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/布萊特蘭屬.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="Bletia purpurea(布萊特蘭屬)---------
                Bletia purpurea的長度可以達到5英尺 。它具有卵形（卵形）假鱗莖，直徑可達1.6 。葉子是線性的或狹窄的橢圓形，最長可達40 。花為粉紅色，紫色或偶有白色，在總狀花序或圓錐花序中有時有多達80朵花。萼片小於B. patula，通常長於1.2 。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/圈柱蘭屬.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/圈柱蘭屬.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="心花圍柱蘭(圈柱蘭屬)---------
                心花圍柱蘭因唇瓣的形狀與心臟一般而命名，春至初夏開花，色彩豔麗、姿態優美，帶有清新淡雅類似玫瑰花的香氣，易繁殖好照顧，天生麗質的高顏值，具有極高的欣賞與美化室內環境價值。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/戈文蘭屬.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/戈文蘭屬.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="Govenia utriculata(戈文蘭屬)---------
                Govenia utriculata是一種非常適合種在花盆裡擺放在室內的蘭花，在熱帶地區你還可以把它種在樹上。它的花顏色豐富、開放時間長，可以在你的屋子裡形成多彩的景觀。而且石斛屬的花不僅姿態優雅，而且有的品種有芬芳的香味。它的花開放在細長的莖桿的頂端，適合剪切下來插在花瓶中觀賞，觀賞價值高。它對環境有一些嚴格，需要你提供充足的陽光、水分和溫度。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/石斛蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/石斛蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="鴿石斛(石斛蘭屬)---------
                鴿石斛可藉由下雨或氣溫控制，在突然驟降的溫度下開出美麗的花朵──白色花瓣帶有一抹黃色的唇，風姿優美，因長相像飛翔的鴿子而得其名。鴿石斛的花朵不僅美觀，還會散發出濃郁的花香呢。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/紅鶴頂蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/紅鶴頂蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="紅鶴頂蘭(鶴頂蘭屬)---------
                紅鶴頂蘭獨特的花形與淡淡芬香，使它有極高的園藝價值。通常可以在低海拔山區找到它們，但是近年來過度採摘，已經很少見到野外種，現在只能於花市或庭園窺見其蹤影。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/樹蘭屬.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/樹蘭屬.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="蘆莖樹蘭(樹蘭屬)---------
                蘆莖樹蘭適合作為庭園植栽或盆栽，若作為切花花材，可在瓶中維持2~4週的觀賞時間。蘆莖樹蘭的種小名是源於radicate一詞，表示其莖部容易長出氣生根的特色！"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/坦普爾圈柱蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/坦普爾圈柱蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="坦普爾圈柱蘭(圈柱蘭屬)---------
                坦普爾圈柱蘭原產於佛羅里達；儘管在當地產量高，為避免過度的商業性剝削，銷售坦普爾圈柱蘭是要具備執照的。它的花有蜂蜜的香味，可吸引多種蜜蜂。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/頭蕊蘭屬.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/頭蕊蘭屬.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="紅花頭蕊蘭(頭蕊蘭屬)---------
                每個開花芽達到20–70厘米高。枝條從爬行的根莖中生長。莖在基部光滑，並被較高的短腺毛覆蓋。幼芽有2至8片披針形葉子，大小從5到14厘米長，從1到3 厘米寬不等，最大可達5厘米寬。花瓣彎曲且披針形。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/長距根節蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/長距根節蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="長距根節蘭(根節蘭屬)---------	
                長距根節蘭是一種非常稀有的蘭花，多生活在較高海拔森林中的潮濕處。由於棲息地被破壞，這種植物已日漸稀少。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/白鶴蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/白鶴蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="白鶴蘭(根節蘭屬)---------	
                白鶴蘭最大的特色在於人字形的唇瓣，猶如成群飛舞的白鶴而得名，聖花成簇遠看像是白花繡球，清麗優雅，極具觀賞價值，白鶴蘭多被作為盆栽擺放在家中或陽台，更是受歡迎的切花材料！"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/orchids/金氏蓋藥蘭.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/orchids/金氏蓋藥蘭.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" 
                title="金氏蓋藥蘭(石斛屬)---------		
                金氏蓋藥蘭為原生於大洋洲的一種蘭花，其盛開的花朵形狀像極了展翅的鴿子，所以又稱「澳洲鴿石斛」。金氏蓋藥蘭是蘭花中生命力較為強健的品種，非常適合作為蘭花新手的入門選擇。"><i class="bi bi-search"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>— 團隊成員 —</h2>
          <h5>大家好 我們是AI人工智慧導論第一組( つ•̀ω•́)つ</h5>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  這次專案中，我學到如何部署一個聊天機器人，也對蘭花有更多的認識，感謝我的超強組員們，也希望大家喜歡Orchidentify！
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/IMG_0114.jpg" class="testimonial-img" alt="">
                <h3>張芮瑄</h3>
                <h4>隊長</h4>
                <h4>·</h4>
                <h4>統籌團隊、LineBot製作</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  這次專題讓我學到一個好的專案不只需要絕佳技術，如何呈現也是極為重要的。
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/IMG_0115.jpg" class="testimonial-img" alt="">
                <h3>陳宏釜</h3>
                <h4>隊員</h4>
                <h4>·</h4>
                <h4>團隊顧問、整合專案</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  能跟夥伴一起奮鬥，互相交流進步，是這次專案最大收穫。
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/IMG_0117.jpg" class="testimonial-img" alt="">
                <h3>林家慶</h3>
                <h4>隊員</h4>
                <h4>·</h4>
                <h4>Model建構</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  從我熟悉的NLP到影像辨識對我來說是一個奇妙的體驗，也感謝我的組員們的努力才會有現在的成果。
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/IMG_0118.jpg" class="testimonial-img" alt="">
                <h3>梁致銓</h3>
                <h4>隊員</h4>
                <h4>·</h4>
                <h4>Model建構</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  很開心可以選到這堂課~~組員們都很厲害，大家一起努力的感覺很好，我也發現自己蠻喜歡做網頁的哈哈XD
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/IMG_0119.jpg" class="testimonial-img" alt="">
                <h3>鄭惠菁</h3>
                <h4>隊員</h4>
                <h4>·</h4>
                <h4>網頁製作</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    

    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>Squadfree</span></strong>. All Rights Reserved
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>